body {
   background-image: url('./digital.jpg');
   background-repeat: no-repeat;
}



#turntables {
   align-content: center;
   padding-top: 100px;
   padding-left: 20%;
   width: 100;
   position: relative;
}

#footer {
   color: crimson;
   font-size: 20px;
   position: relative;
   padding: 110px 350px 28px 45px;
}